body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0f161f;
    background: linear-gradient(90deg, rgba(15, 22, 31, 1) 1%, rgba(25, 49, 69, 1) 100%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm {
    margin: 10px;
}
.cityInput{
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    width: 300px;
}

button[type="submit"]{
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1rem;
    background-color: rgb(16, 153, 158);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: rgb(12, 116, 119);
}

.card{
    background: #141d29;
    background: linear-gradient(180deg, rgba(20, 29, 41, 1) 1%, rgba(27, 53, 74, 1) 100%);
    padding: 20px;
    box-shadow: 1px 1px 15px rgb(20, 22, 24);
    border-radius: 30px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: solid 0.5px rgb(54, 75, 89);
    color: white;
    margin-bottom: 50px;
}
h1{
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 15px;
    color: rgb(218, 218, 218);
    align-self: left;
}
.mainConditionsRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
p{
    font-size: 1rem;
    margin: 5px 0;
}
.tempDisplay{
    font-size: 3rem;
}
.conditionsDisplay{
    color: rgb(202, 211, 218);
}
.highLowRow{
    display:flex;
    flex-direction: row;
    gap: 10px;
    color: rgb(156, 170, 183);
}
.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: black
}
.minorConditionsRow{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.minorBox{
    width: 100px;
    background-color: #2f3e4e;
    border-radius: 15px;
    padding: 5px;
    padding-left: 5px;
}

.minorBox div{
    margin: 5px;
    font-size: 0.8rem;
    color: rgb(156, 170, 183);
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.minorBox h1 {
    font-size: 0.7rem;
    padding: 0px;
    margin: 0px;
}
.minorBox p{
    margin-left: 8px;
    font-size: 0.8rem;
}

#forecastTitle{
    color: rgb(156, 170, 183);
    font-size: 1rem;
}
.weekForecastRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dayBox{
    /* font-size: 25px; */
    width: 50px;
    height: 100px;
    /* background-color: #2f3e4e; */
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.dayBox p{
    font-size: 0.9rem;
}